@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    font-family: Outfit;
    text-align: center;
}

.card {
    box-sizing: border-box;
    width: 90%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 10px;
    border-radius: 6%;
    box-shadow: 1px 1px 20px .1px rgb(180, 196, 212);
}

.attribution {
    font-size: 13px;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    font-weight: 600;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 13px 13px;
    color: grey
}

img {
    width: 100%;
    border-radius: 6%;
}

a {
    text-decoration: dotted underline grey;
    color: rgb(43, 103, 194);
}

